<img src="../../../assets/images/flash_banner.jpg" class="img-fluid">
<div class="">
    <h1>Welcome to Cake Basket</h1>
    <div class="row">
        <div class="col-lg-8 text-justify">
            <p>CAKE BASKET is a well-known name in Mumbai specializing in Cakes & Chocolate due to its personal and professional touch. Whatever be the occasion or even just a simple celebration, we have cakes suited just for every occasion. With the finest quality ingredients and secret home grown recepies, we deliver nothing but the finest cakes and desserts in the business. </p>
            <p>CAKE BASKET is a well-known name in Mumbai specializing in Cakes & Chocolate due to its personal and professional touch. Whatever be the occasion or even just a simple celebration, we have cakes suited just for every occasion. With the finest quality ingredients and secret home grown recepies, we deliver nothing but the finest cakes and desserts in the business. </p>
        </div>
        <div class="col-lg-4">
            <img src="../../../assets/images/Cake.jpg" class="img-fluid">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="card w-100 bg-info">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card w-100 bg-info">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card w-100 bg-info">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
    </div>
</div>
