<h1>
    About Us
</h1>
<div class="row">
    <div class="col-lg-8">

        <p>
            Did you know you can send a fresh-baked cake, made from scratch and hand delivered to almost any address near 5 KM of HATA Bazar? That's right, imagine the look on your recipients face when they receive their favorite cake with a special personalized message...from You!
        </p>
        <p>
            Did you know you can send a fresh-baked cake, made from scratch and hand delivered to almost any address near 5 KM of HATA Bazar? That's right, imagine the look on your recipients face when they receive their favorite cake with a special personalized message...from You!
        </p>
        <p>
            Did you know you can send a fresh-baked cake, made from scratch and hand delivered to almost any address near 5 KM of HATA Bazar? That's right, imagine the look on your recipients face when they receive their favorite cake with a special personalized message...from You!
        </p>
    </div>
    <div class="col-lg-4">
        <img src="../../../assets/images/Cake.jpg">
    </div>
</div>
<hr>
<p>
    Did you know you can send a fresh-baked cake, made from scratch and hand delivered to almost any address near 5 KM of HATA Bazar? That's right, imagine the look on your recipients face when they receive their favorite cake with a special personalized message...from You!
</p>
<p>
    Did you know you can send a fresh-baked cake, made from scratch and hand delivered to almost any address near 5 KM of HATA Bazar? That's right, imagine the look on your recipients face when they receive their favorite cake with a special personalized message...from You!
</p>
<p>
    Did you know you can send a fresh-baked cake, made from scratch and hand delivered to almost any address near 5 KM of HATA Bazar? That's right, imagine the look on your recipients face when they receive their favorite cake with a special personalized message...from You!
</p>
